.header {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.top {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  padding: 20px 0;
  background-color: #fafafa;
}

.left {
  display: flex;
  justify-content: space-between;
}

.logo {
  svg {
    width: 50px;
    height: 50px;
    max-width: 100%;
    max-height: 100%;
  }
  &__icon {
    color: #ff9335;
  }
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 18px;
  &__icon {
    color: #ff9335;
    width: 20px;
    height: 25px;
    margin: 0px 7px 20px 0px;
  }
}

.contacts {
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__phone-icon {
    width: 25px;
    height: 25px;
    color: #ff9335;
  }
  &__box {
    margin-left: 7px;
    display: flex;
    flex-direction: column;
  }
  &__num {
    font-size: 16px;
    font-weight: 700;
  }
  &__text {
    color: #ff9335;
  }
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  list-style: none;
  &__link {
    transition: all 0.2s;
    &:hover {
      color: #ff9335;
    }
  }
  &__icon {
    width: 25px;
    height: 25px;
  }
}

.item + .item {
  margin-left: 30px;
}

.bottom {
  padding: 20px 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 40px;
  width: 230px;
  background-color: #ff9335;
  color: #fff;
  border-radius: 5px;
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
  }
  &__logo {
    width: 28px;
    height: 28px;
  }
  &__text {
    padding: 4px 0px;
    font-weight: 600;
  }
}

.search {
  display: flex;
  flex-basis: 900px;
  position: relative;
  &__input {
    width: 100%;
    outline: none;
    padding: 15px 10px;
    border: 1px solid #ececec;
    border-radius: 5px;
    font-size: 16px;
    color: #001f3d;
    &::placeholder {
      font-size: 14px;
    }
  }
  &__btn {
    position: absolute;
    right: 15px;
    top: 12px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  &__icon {
    color: #ff9335;
    width: 25px;
    height: 25px;
  }
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__text {
    margin-bottom: 5px;
  }
  &__name {
    margin-left: 5px;
    font-size: 18px;
    color: #ff9335;
  }
  &__link {
    transition: all 0.2s;
    &:hover {
      color: #ff9335;
    }
    &_user {
      transition: all 0.2s;
      cursor: pointer;
      width: 18px;
      height: 18px;
      margin-left: 3px;
      &:hover {
        color: #ff9335;
      }
    }
    &_dot {
      width: 18px;
      height: 18px;
      margin: 0 6px 2px;
    }
  }
  &__btn {
    border: none;
    font-size: 16px;
    text-align: center;
    background-color: transparent;
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
      color: #ff9335;
    }
  }
  &__icon {
    margin-left: 3px;
    width: 18px;
    height: 18px;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__icon {
    width: 25px;
    height: 25px;
  }
  &__icon + .actions__icon {
    margin-left: 20px;
  }
}
