.card {
  padding-top: 20px;
  &__breadcrumbs {
    margin-bottom: 10px;
  }
  &__wrapper {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 10px 40px 20px;
  }
  &__left {
    padding: 40px 0px 0px;
    position: relative;
  }
  &__stiker {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 2px 5px;
    border-radius: 3px;
    background-color: rgb(35, 185, 35);
    color: #fff;
  }
  &__box {
    background-color: #fff;
    max-width: 680px;
    max-height: 600px;
  }
  &__img {
    width: 650px;
    height: 600px;
    object-fit: cover;
    border-radius: 5px;
  }
  &__right {
    margin-right: 130px;
  }
  &__code {
    font-size: 12px;
    color: #777e85;
    font-weight: 400;
    margin-bottom: 5px;
  }
  &__name {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  &__reviews {
    margin-bottom: 15px;
  }
  &__availability {
    padding: 3px 10px;
    display: inline-block;
    background-color: rgba(0, 170, 70, 0.1);
    color: #00ad45;
    margin-bottom: 30px;
  }
  &__parameters {
    margin-bottom: 40px;
  }
  &__parameters_text {
    max-width: 110px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 7px;
    text-align: center;
  }
  &__color {
    svg {
      width: 25px;
      height: 25px;
    }
    margin-left: 10px;
    color: #ff9335;
  }
  &__price_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
  }
  &__price {
    font-size: 28px;
    font-weight: 700;
  }
  &__actions {
    display: flex;
    justify-content: space-around;
  }
  &__action {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  &__buy {
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &__btn {
    border: none;
    border-radius: 5px;
    background-color: #ff9335;
    color: #fff;
    padding: 12px 40px;
    font-size: 18px;
    font-weight: 600;
  }
  &__credit_btn {
    border: none;
    border-radius: 5px;
    background-color: #d2deea;
    color: #000;
    padding: 12px 15px;
    font-size: 18px;
    font-weight: 600;
  }
  &__payment {
    margin-bottom: 30px;
  }
  &__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  &__logo {
    width: 50px;
    height: 50px;
  }
  &__logo + .card__logo {
    margin-left: 10px;
  }
  &__link {
    margin-left: 5px;
    color: #ff9335;
  }
  &__text_info {
    margin-bottom: 5px;
  }
}
